version: '3.9'
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8088:8000"
    volumes:
      - ./backend/reports:/app/reports
      - ./backend/uploads:/app/uploads